.App {
  font-family: sans-serif;
  text-align: center;
  background-color: red;
}

.Demo {
  font-family: sans -serif;
  text-align: center;
  background-color: yellow;
}

.maindiv {
  background: #ffd700;
}
